<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toncoin (TON)</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="dark-mode">
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="pricecomparison.html">Price Comparison</a></li>
                <li><a href="marketcap.html">Market Cap</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="community.html">Community</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Toncoin (TON)</h1>
        <div class="compare-controls">
            <button onclick="showLowestPrices()">Buy</button>
            <button onclick="showHighestPrices()">Sell</button>
            <button onclick="predictPrice()">Price Prediction</button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 CryptoPulse. All rights reserved.</p>
        <p>Follow us: <a href="#">Twitter</a> | <a href="#">LinkedIn</a> | <a href="#">Facebook</a></p>
    </footer>
</body>
</html>
